<h2> My cart</h2>
<div class="container-fluid">
    <% @cart.get_cart_line_items(@cart.id).each do |cart_line_item| %>
        <% product = @cart.product_details(cart_line_item.product_id) %>
        <% quantity = cart_line_item.quantity %>

        <div class="d-inline-flex p-1 w-25">
            <div class="container border">
                <div class="img-fluid text-center">
                    <img src=<%= product.image_link %> width="200" height="200">
                </div>
                <p>Name: <%= product.name %></p>
                <p>Description: <%= product.description %></p>
                <p>Product price: &#8377; <%= product.price %></p>
                <p>Total price for product: &#8377; <%= product.price * quantity %></p>
                <p>
                    <span><%= link_to "+" , increase_product_quantity_path(product_id: product.id), class: "btn border-dark" %></span>
                    <span>Quantity: <%= quantity %></span>
                    <span><%= link_to "-" , decrease_product_quantity_path(product_id: product.id), class: "btn border-dark" %></span>
                <p>
            </div>
        </div>
    <% end %>
    <p class="text-primary border-light">Total Price for your cart items: &#8377; <%= @cart.get_cart_total(@cart.id) %>
</div>
