<div class="container-fluid col-8">
    <h3>Profile section</h3>
    <p>Name : <%= current_user.name %></p>
    <p>Email :<%= current_user.email %></p>
    <% if current_user.addresses.present? %>
        <p>Saved addresses :</p>
        <div class="container row">
            <% current_user.addresses.each do |address| %>
                <div class="container border p-2 col-3">
                    <%= address.location_details %>
                    <%= link_to, "Update address", update_address_path %>
                </div>
            <% end %>
        </div>
    <% end %>
    <%= link_to "Add new address", new_address_path %>
</div>
