<div class="container-fluid d-flex col-6">
    <div class="container">
        <h3>Profile section</h3>
        <div class="container">
            <p>Name : <%= current_user.name %></p>
            <p>Email :<%= current_user.email %></p>
            <% if current_user.addresses.present? %>
                <p>Saved addresses :</p>
                <div class="">
                    <% current_user.addresses.each do |address| %>
                        <div class="border p-2 col-3">
                            <%= address.location_details %>
                        </div>
                        <%= link_to "Update address", edit_address_path(address) %>
                    <% end %>
                </div>
            <% end %>
            <%= link_to "Add new address", new_address_path %>
        </div>
    </div>
</div>
