<h3>Order page</h3>
<br/>
<div class="container border border-5">
    <div>
        <h6>Order Details</h6>
        <hr/>
        <p>Ordered on : <%= @order.created_at.localtime.strftime("%d-%m-%Y, %H:%M") %></p>
        <div class="d-flex">
            <p class="me-3">Status: <%= @order.status %></p>

            <% if current_user.is_admin==true %>
                <div>
                    <p class="text-decoration-none" ><%= link_to "Change Order status", update_order_status_path(@order.id) %></p>
                </div>
            <% end %>
        </div>
        <p>Delivery location: <%= @order.delivery_location %></p>
        <p>Order total: &#8377;<%= @order.total_price %></p>
    </div>
    <div>
        <h6>Products</h6>
        <hr/>
        <div class="d-flex flex-wrap">
            <% @order.get_order_line_items(@order.id).each do |order_line_item| %>
                <% product = @order.product_details(order_line_item.product_id) %>
                <% quantity = order_line_item.quantity %>
                <div class="d-flex col-4 container-fluid border border-2 border-secondary rounded">
                    <div class="container-fluid d-flex align-items-center col-4 p-0 m-0">
                        <img src=<%= product.image_link %> width="100%" height="75%"/>
                    </div>
                    <div class="vr border border-dark"></div>
                    <div class="container-fluid">
                        <p>Name: <%= product.name %></p>
                        <p>Price: &#8377; <%= order_line_item.price %>
                        <p>Quantity: <%= quantity %></p>
                        <p><%= link_to "View product", product_path(product) %></p>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
