<h3>Product details page</h3>
<div class="d-inline-flex p-2 w-25">
    <div class="container border">
        <div class="img-fluid text-center">
            <img src=<%= @product.image_link %> width="200" height="200">
        </div>
        <p>Name: <%= @product.name %></p>
        <p>Description: <%= @product.description %></p>
        <p>Product Price: &#8377; <%= @product.price %></p>
        <p class="text-center">
            <% if @quantity==0 %>
                <%= link_to "Add to Cart", add_to_cart_path(@product.id), class: "btn btn-primary" %>
            <% else %>
                <span><%= link_to "+" , increase_product_quantity_path(product_id: @product.id), class: "btn border-dark" %></span>
                <span>Quantity in your cart: <%= @quantity %></span>
                <span><%= link_to "-" , decrease_product_quantity_path(product_id: @product.id), class: "btn border-dark" %></span>
            <% end %>
        <p>
        <% if current_user.is_admin==true %>
            <div class="d-flex justify-content-around">
                <p style="height:5%">
                    <%= link_to "Update Product", edit_product_path(@product) , class: "text-decoration-none btn btn-secondary" %>
                </p>
                <p style="height:5%">
                    <%= link_to "Remove Product", root_path(@product), method: :delete,  data: { confirm: 'Are you sure?' } , class: "text-decoration-none btn btn-danger" %>
                </p>
            </div>
        <% end %>
    </div>
</div>
