<br/>
<div class="container">
    <h3>Add Product</h3>
    <hr/>
    <%= form_with(url: products_path, model: @product, local: true) do |f| %>
        <%= f.label "Name", class: "col-1" %>
        <%= f.text_field :name %><br/> <br/>

        <%= f.label "Description", class: "col-1" %>
        <%= f.text_field :description %><br/> <br/>

        <%= f.label "Price", class: "col-1" %>
        <%= f.text_field :price %><br/> <br/>

        <%= f.label "Image link", class: "col-1" %>
        <%= f.text_field :image_link %><br/> <br/>

        <%= f.submit 'Add Product', class: "btn btn-success" %>
    <% end %>
</div>
