<h3>Product details page</h3>
<div class="d-inline-flex p-2 w-25">
    <div class="container border">
        <div class="img-fluid text-center">
            <img src=<%= @product.image_link %> width="200" height="200">
        </div>
        <p>Name: <%= @product.name %></p>
        <p>Description: <%= @product.description %></p>
        <p>Product Price: &#8377; <%= @product.price %></p>
        <p>
            <% if @quantity==0 %>
                <%= link_to "Add to Cart", add_to_cart_path(@product.id), class: "btn btn-primary" %>
            <% else %>
                <span><%= link_to "+" , increase_product_quantity_path(product_id: @product.id), class: "btn border-dark" %></span>
                <span>Quantity in your cart: <%= @quantity %></span>
                <span><%= link_to "-" , decrease_product_quantity_path(product_id: @product.id), class: "btn border-dark" %></span>
            <% end %>
        <p>
    </div>
</div>
