<nav class="navbar" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="h2 col-4">CartBliss</div>
    <% if user_signed_in? %>
    <div class="navbar col-5">
      <p class="h5"><%= link_to "Home", root_url %></p>
      <p class="h5"><%= link_to "My orders", my_orders_path %></p>
      <p class="h5"><%= link_to "Profile", profile_path %></p>
      <p class="h5"><%= link_to "Cart", my_cart_path %></p>
      <p class="h5"><%= link_to "Sign out", destroy_user_session_path, method: :delete , class: "btn btn-primary" %></p>
    </div>
    <% end %>
  </div>
</nav>
